/* BookingPage.css */
.booking-page-container {
    text-align: center;
}

.toggle-slider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.slider-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-button.active {
    background-color: #3498db; /* Your website color for active state */
    color: white;
}

.slider {
    height: 3px;
    width: 50%;
    background-color: #3498db; /* Your website color */
    position: relative;
    transition: transform 0.3s;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(0);
}
