@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
  }
  body{
    overflow-x: hidden;
  }

.show {
  display: block;
}
  
.hide {
  display: none;
  }
  
.content{
  position: absolute;
  display: flex;
  background-color: #F3F3F3;
  flex-direction: column;
  z-index: 100;
  width: 100%;  
  height: fit-content;
  margin-top: 12rem;

}

.select:hover,
.select.active {
  border-bottom: 4px solid #1A202C;
  color: #1A202C;
  font-weight: 600;
}
.select{
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: 20px;

}
.xylo{
  width: 7rem;
}

.rentals{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.select{
  margin-left: 1rem;
}

.image{
  width: 100vw;
  padding: 0 2rem;
}

.rental-car{
  background-image: linear-gradient(#f1f1f1 10%, #33773A 80%, #FCC120 82%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: auto;
  border-radius: 2%;
}

.rental-car p{
  font-size: 1rem;
}

.rental-car h2{
  font-weight: 500;
  text-align: left;
  padding: 1rem;

}

.rental-car h3{
  font-weight: 500;
  font-size: .7rem;
  padding: 1rem;
}

.ren-bottom{
  display: flex;
  justify-content: space-between;
}

.book-now h3{
  margin-right: 0.7rem;
  padding: 0.2rem 0.5rem;
  background-color: #F3F3F3;
  border-radius: 5%;
  font-weight: 300;
}

.tour{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.tour-car{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  border-radius: 2%;

}

.tour-car p{
  font-size: 1rem;
}

.tour-car h2{
  font-weight: 500;
  text-align: left;
  padding: 1rem 1.5rem;
}

.tour-car h3{
  font-weight: 300;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
}

.tour-top{
  position: absolute;
  left: 0;
  top: 0;
}

.tour-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.whyus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  background-color: #ffffff;
}

.whyus > p{
  margin: 1rem 0.8rem;
}

.whyus-img{
  width: 80vw;
  margin: 0 2rem;
  justify-content: center;
}

.whyus-list h3{
  font-weight: 600;
}

.whyus-list{
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  vertical-align: baseline;
}

.whyus-details{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.whyus-list p{
  text-align: left;
  margin: 0%;
  padding: 0;
}

.tag{
  padding-top: 1rem;
  width: 6vw;
}

.whyus-details p{
  font-size: 0.7rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}


/* CSS for Booking Section */

#booking-main h1{
  /* justify-content: center; */
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;

}

.booking-container{
  width: 90%;
  margin: 20px auto;
  height: 280px;
}

.booking-carousal{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.bookingslider{
  display: flex;
  height: 100%;
  width: 600%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.bookingslider section{
  background-color: #414141;
  flex-basis: 16.66%;
  width: 16.66%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  position: absolute;
  top: 10px;
  cursor: pointer;
}

.arrow.prev{
  left: 10px;
}

.arrow.next{
  right: 10px;
}


/* CSS for Car Details */

.car-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.car-card h2{
  top: 0;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
}

.car-card h3{
  bottom: 0;
  font-weight: 500;
  font-size: .7rem;
  color: #ffffff;
}

.car-image{
  height: 200px;
  padding: 1rem;
  margin-top: 1rem;
}

.tour-image{
  width: 100%;
}


.bookingslider-tour{
  display: flex;
  height: 100%;
  width: 800%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.bookingslider-tour section{
  background-color: #414141;
  flex-basis: 12.5%;
  width: 12.5%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sel-rel-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #FCC120;
  justify-content: center;
}

.sel-rel-box p{
  font-weight: 600;
}

.sel-ren-pick{
  padding: 1rem;
}

.sel-ren-drop{
  padding: 1rem;
}

.sel-ren-down{
  gap: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.sel-ren-est{
  padding-top: 2rem;
}

.sel-text p{
  font-size: 16px;
}

.picker{
  font-size: 0.9rem;
  cursor: pointer;
}

.picker-tick{
  padding-right: 0.4rem;
}

/* Tour Selection Picker CSS */

.sel-tour-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #FCC120;
  justify-content: center;
}

.sel-tour-box p{
  font-weight: 600;
}

@media (min-width: 320px) {

  .whyus-img{
    width: 85vw;
  }

  .select{
    font-size: 10px;
  }
}

@media (min-width: 375px){

  .booking-container{
    width: 90%;
    margin: 20px auto;
    height: 280px;
  }

  .car-image{
    height: 200px;
    padding: 1rem;
    margin-top: 1rem;
  }  

  .car-card h3{
    bottom: 0;
    font-weight: 500;
    font-size: .6rem;
    color: #ffffff;
  }
  

  .whyus-list{
    margin: 2rem 2.5rem;
  }

  
}


@media (min-width: 768px) {

  .picker{
    font-size: 1rem;
    cursor: pointer;
  }

  .sel-ren-est{
    padding: 0;
  }

  .rentals{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rentals h3{
    font-size: 0.9rem;
  }

  .tour{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tour-car h3{
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 3rem;
  }

  .whyus-img{
    width: 90vw;
    margin: 0 2.5rem;
  }
  .select{
    font-size: medium;
  }


/* CSS for Car Details */

.car-card h2{
  top: 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

.car-card h3{
  bottom: 0;
  font-weight: 500;
  font-size: .9rem;
  color: #ffffff;
}

.car-image{
  height: 320px;
  padding: 2rem 1rem;
  margin-top: 2rem;
}
    
.booking-container{
  width: 90%;
  margin: 20px auto;
  height: 450px;
}

.car-image{
  height: 340px;
  padding: 1rem;
  margin-top: 1rem;
}  

.arrow-pad{
  padding: 1rem;
}

.sel-ren-pick{
  margin: 1rem;
  padding-left: 1rem;
}


.sel-ren-drop{
  margin: 1rem;
  padding-left: 1rem;
}

.sel-ren-down{
  gap: 5rem;
  margin: 1.5rem;
}

}

@media (min-width: 1024px){
.content{
  margin-top: 0;
}

.content h1{
  margin-top: 4rem;
  font: 500 2rem 'Poppins', sans-serif;
}

.select{
  top: 12rem;
}

.rentals{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.tour{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.rentals h3{
  font-size: 1.2rem;
}
.select p{
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin: 0 1rem;
}

.tour-car p{
  font-size: 1rem;
}

.tour-car h2{
  font-size: 0.70rem;
  font-weight: 500;
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 0;
}

.tour-car h3{
  font-weight: 300;
  font-size: 0.85rem;
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.whyus-img{
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  width: 90vw;
  border-radius: 5%;
}

.whyus-list{
    width: 100%;
}

.whyus-list p{
  font-size: 1rem;
  padding: 0;
}

.whyus-content{
  display: flex;
  margin: 1rem 2rem;
}

.whyus-details{
  display: flex;
  width: 100%;
}


.booking-container{
  width: 40%;
  margin: 20px auto;
  height: 450px;
}

.car-card h2{
  top: 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
}

.car-card h3{
  bottom: 0;
  font-weight: 500;
  font-size: .9rem;
  color: #ffffff;
}

.car-image{
  height: 320px;
  padding: 2rem 1rem;
  margin-top: 2rem;
}


.sel-ren-pick{
  margin: 1rem;
  padding-left: 1rem;
}


.sel-ren-drop{
  margin: 1rem;
  padding-left: 1rem;
}

.sel-ren-down{
  gap: 2rem;
  margin: 2rem;
}

.sel-tour-box{
  width: 400px;
}
  
}


@media (min-width: 1440px){


  .sel-ren-pick{
    margin: 2rem 2rem 0rem 2rem;
    padding-left: 2rem;
  }

  .sel-rel-box p{
    font-size: 1.4rem;
  }
  
  .sel-ren-drop{
    margin: 2rem 2rem 0rem 2rem;
    padding-left: 2rem;
  }
  
  .sel-ren-down{
    gap: 4rem;
    margin: 2rem 4rem 4rem 4rem;
  }
  
  .image{
    width: 20vw;
  }
  
  .content h1{
    font-size: 3rem;
  }

  .content p{
    padding: 1rem 5rem;
    font-size: 1.2rem;
  }

  .rentals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .image{
    width: 100vw;
  }

  .select p{
    font-weight: 500;
    padding-bottom: 0.5rem;
    margin: 0 1rem;
  }

  .rental-car{
    margin: 1rem;
    background-image: linear-gradient(#f1f1f1 10%, #33773A 80%, #FCC120 82%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    border-radius: 2%;
  }

  .rentals h3{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .tour{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tour-car{
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    border-radius: 2%;
  }

  .tour-car p{
    font-size: 1rem;
  }
  
  .tour-car h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    padding: 1rem 1.5rem;
    margin: 0;
  }
  
  .tour-car h3{
    font-weight: 300;
    font-size: 1.1rem;
    padding: 0.2rem 0.8rem;
  }

  .whyus-list h3{
    font-size: 1.3rem;
  }

  .whyus-details p{
    font-size: 1.2rem;
    padding: 0;
  }

  .whyus-content{
    margin: 1rem 5rem;
    margin-bottom: 5rem;
  }

  .booking-container{
    width: 40%;
    margin: 20px auto;
    height: 580px;
  }
  
  .car-card h2{
    top: 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .car-card h3{
    bottom: 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .car-image{
    height: 450px;
    padding: 2rem 1rem;
    margin-top: 2rem;
  }  

  .picker{
    font-size: 1.4rem;
    cursor: pointer;
  }

  .sel-tour-box{
    width: 600px;
  }

  .sel-tour-box p{
      font-size: 1.2rem;
    }

  
}



/* CSS for hiding and showing content */

.content1 {
  display: block;
}

#div1.show {
  display: block;
}

#div2.show {
  display: block;
}
